body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}


source,img{
    margin: 0 auto;
}
.text-thin{
    font-weight: 100;
}
.text-muted{
    color:#7d97ad;
}
.title-super{
    font-size: 60px;
}
.title-logo{
    margin:20px 0;
    height: 120px;
    width: 120px;
    display: flex;
}
hr{
    border: none;
    border-top: 3px solid #7d97ad;
    width: 100%;
}
